#container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #00000066;
    width: 100%;
    height: 100%;
}

#top-bar {
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 1px -1px 0px rgba(255, 255, 255, 0.5),
                1px 1px 0px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

#top-bar h1 {
    font-size: 70px;
    font-variant : small-caps;
    margin: auto 20px;
    flex:1;
}

#top-bar #user {
    font-size: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: auto 0;
}

#top-bar .exit {
    font-size:80px;
    margin: auto 10px;
}

#body {
    flex: 1;
    z-index: 1;
    margin: 20px;
    pad: 20px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: -1px -1px 0px rgba(255, 255, 255, 0.5),
                1px 1px 0px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

#tbody .body-div {
    backdrop-filter: none;
    display: flex;
    flex-direction: column;
}

table {
    margin: 20px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
}

thead {
    font-size: 40px;
}

thead tr {
    border-bottom: solid 1px rgb(0 0 0 / 50%);
}

thead th {
    padding: 0 10px;
}

tbody {
    font-size: 30px;
    height: fit-content;
}

table thead,
table tbody {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 10px;
}

thead td {
    font-size: 30px;
    padding: 0 10px;
}

tbody tr {
    padding: 10px 0;
}

tbody tr .user {
    display: flex;
    margin: auto 0;
}

tbody tr .user p {
    margin: auto 0;
}

tbody td {
    margin: auto 0;
    padding: 0 10px;
}

tbody button {
    margin: 5px 10px;
}

tbody .user .img {
    width: 40px;
    height: 40px;
    background-color: beige;
    border-radius: 50%;
}

#add-user {
    z-index: 1;
    border: none;
    padding: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 10px 20px 20px;
    font-size: 50px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: -1px -1px 0px rgba(255, 255, 255, 0.5),
                1px 1px 0px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}



.fade {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: all;
}

.modal-content {
    background: rgba(255, 255, 255, 0.3) !important;
    box-shadow: -1px -1px 0px rgba(255, 255, 255, 0.5),
                1px 1px 0px rgba(0, 0, 0, 0.5) !important;
    border-radius: 50px !important;
}

.modal-header {
    color: #ffffff;
}

.modal-header * {
    font-size: 50px !important;
}

.input-div p {
    margin: 0;
}

.input-div p, .input-div input {
    font-size: 40px;
    height: 58px;
}