#container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #00000066;
    width: 100%;
    margin: 0;
    top:0;
    bottom: 0;
}

#top-bar {
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 1px -1px 0px rgba(255, 255, 255, 0.5),
                1px 1px 0px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

#top-bar h1 {
    font-size: 60px;
    font-variant : small-caps;
    margin: auto 20px;
    flex:1;
}

#top-bar #user {
    font-size: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: auto 0;
}

#top-bar #user * {
    margin-block: 0;
}

#top-bar .exit {
    font-size:70px;
    margin: auto 10px;
}

#body {
    height: 100%;
    z-index: 1;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: -1px -1px 0px rgba(255, 255, 255, 0.5),
                1px 1px 0px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

#add-user, #add-meet {
    z-index: 1;
    border: none;
    padding: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 10px 20px 20px;
    font-size: 50px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: -1px -1px 0px rgba(255, 255, 255, 0.5),
                1px 1px 0px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}


/* Modal */
.modal-dialog {
    max-width: 700px !important;
    width: 700px !important;
}

.modal-header * {
    font-size: 50px !important;
}

.modal-content .hint {
    font-size: 30px;
}

.modal-content .input-div p {
    margin: 0;
}

.modal-content .input-div p,
.modal-content .input-div input,
.modal-content select,
.modal-content textarea {
    font-size: 50px;
    height: 68px;
}

.modal-content textarea {
    height: auto;
}

.input-div .img-btn {
    margin:auto;
    background-color: #00000055;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.input-div .img-btn * {
    appearance: none;
    opacity: 0;
    width: 300px;
    height: 300px !important;
}


.modal-footer {
    padding: 12px 20px;
}

.modal-footer button {
    font-size: 40px;
    border-radius: 10px;
}





/* SWIPER */
.space {
    flex: 1;
}

.swiper-body {
    display: flex;
    flex-direction: column;
}

.swiper-body label {
    margin:auto;
    font-size: 80px;
}

.swiper-body .img {
    margin:auto;
    background-color: #00000055;
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}



.swiper-meets {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgb(255 255 255 / 70%);
    border-radius: 20px;
    margin: 30px 10px 0;
    min-height: 0px;
}

.swiper-meets p {
    font-size: 100px;
    margin-block: 0;
    margin: auto;
}

.swiper-meets .meets-list {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
}

.swiper-meets .meets-list .meets-item:first-child {
    border-top: solid 1px rgb(255 255 255 / 50%);
}

.swiper-meets .meets-list .meets-item {
    display: flex;
    padding:10px;
    box-sizing: border-box;
    border-bottom: solid 1px rgb(255 255 255 / 50%);
}

.swiper-meets .meets-list .meets-item button {
    background: rgba(255, 0, 0, 0.3);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    flex: 1;
    font-size: 50px;
    padding: 10px;
    margin: auto;
}

.swiper-meets .meets-list .meets-item div {
    flex:2;
}

.swiper-meets .meets-list .meets-item div  * {
    font-size: 50px;
    word-break: break-all;
}

.swiper-meets .meets-list .meets-item div  *:last-child {
    font-size: 40px;
}



.swiper-footer {
    display: flex;
    margin:20px 0;
}

.swiper-footer * {
    color:#ffffff;
    border: none;
    border-radius: 10px;
    flex:1;
    font-size: 50px;
    padding: 10px;
    margin: 0 20px;
}

.swiper-footer .modify {
    background: rgba(255, 255, 255, 0.3);
}

.swiper-footer .delete {
    background: rgba(255, 0, 0, 0.3);
}