body {
    top : 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #222222 !important;
}

#container {
    margin : auto;
}

.modal-dialog {
    top: 100px;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.input-div p, .input-div button {
    font-size: 80px;
    margin : 20px 0 0 0;
}

.input-div input, .input-div select, .input-div button {
    width: 100%;
    height: 50px;
    font-size: 80px;
    outline: none;
}

.input-div option {
    width: 100%;
    height: 30px;
    font-size: 20px;
    outline: none;
}

.input-div input {
    appearance: none;
    border : none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    transition: border-color 0.3s linear;
    box-shadow: inset 0px 0px 5px black;
    height: 98px;
}

.input-div input::placeholder {
    padding-left: 10px;
}

.input-div select {
    border-radius: 5px;
}

.input-div input:hover, .input-div select {
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.input-div input.touched:invalid, .input-div select:invalid {
    box-shadow: inset 0px 0px 10px red;
}

.input-div .hint {
    width: 100%;
    display: none;
    font-size: 50px;
    color: red;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.input-div .show-hint {
    display: block;
}

.input-div button {
    border-radius: 5px;
}